*{
    box-sizing: border-box;
}
/* nav-section */
header{
    max-width: 95%;
    margin: 0 auto;
}
header> div>img{
    width: 80px ;
}
header>div{
    margin: 0 auto;
}
.logo-name{
    display: flex;
    flex-direction: column;   /* stack image and text */
    align-items: center;      /* horizontal center */
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.logo-name img{
    display: block;
    margin: 0 auto;
}
nav{
    background-color: antiquewhite;
}
.nav-logo{
    text-align: center;
}
.navbar{
    padding: 3px 3px;
    margin-left: 30px;
    border: 1px solid white;
    display: flex;
    gap: 45px;
}
.navbar li{
    list-style: none;
}
.navbar li a{
    text-decoration: none;
    color: black;
}
/* main-section */
main{
    max-width: 95%;
    margin: 0 auto;
    background-color: lightgrey;
    padding: 13px 13px;
}
.sec-1{
    padding: 10px 10px;
    background-color: white;
}
.status img{
    width: 220px;
    height: 220px;
}
.status{
    margin-top: 10px;
    background-color: white;
    display: flex;
    gap: 100px;
    justify-items: center;
    text-align: center;
}
.color{
    padding-left: 15px;
    background-color: white;
}
.sec-3{
    margin-top: 50px;
    padding-left: 15px;
    background-color: white;
}
footer{
    max-width: 95%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
footer img{
    width: 220px;
}
    /* Responsive for mobile */
@media (max-width: 768px){

    .navbar{
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-left: 0;
    }

    .status{
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    table{
        width: 100%;
        overflow-x: auto;
        display: block;
    }

}