*{
    box-sizing: border-box;
}
/* nav-section */
header> div>img{
    width: 80px ;
}
.logo-name{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 20px;
}
nav{
    background-color: antiquewhite;
}
.navbar{
    padding: 3px 3px;
    margin-left: 30px;
    border: 1px solid white;
    display: flex;
    gap: 45px;
}
.navbar li{
    list-style: none;
}
.navbar li a{
    text-decoration: none;
    color: black;
}
/* main-section */
main{
    max-width: 95%;
    margin: 0 auto;
}